/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: Ubuntu;
    src: url(fonts/Ubuntu-Regular.ttf);
}
body{
    width: 100%;
    min-height: 200px;
}
.header{
    width: 100%;
    height: 107px;
    background: rgb(65, 173, 237);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
    display: flex;
}
.header-w{
    width: 1181px;
    height: 107px;
    margin: auto;
    display: flex;
}
.menu{
    display: flex;
    margin: 25px 200px 31px 0;
    width: 129px;
height: 41px;
position: relative;
}
.sandwich{
    width: 41px;
height: 41px;
margin-right: 12px;
position: relative;

}
.line1{
    position: absolute;
    transform: rotate(45deg);
    width: 19px;
  left: 11.5px;
  transform-origin: left bottom;
  height: 0px;
top: 12px;
border: 2px solid #37A4E5;
background: #37A4E5;
}
.line2 {
    height: 0px;
    position: absolute;
    left: 10px;
    width: 0px;    
top: 28px;
  }
.line3 {
    position: absolute;
    left:11.5px;
    transform: rotate(-45deg);
    width: 19px;
    transform-origin: left top;
    height: 0px;
top: 27px;
border: 2px solid #37A4E5;
background: #37A4E5;
  }

.ellipse{
    position: absolute;
width: 41px;
height: 41px;
top: 8px;
background: #FFFFFF;
border-radius: 18px;
}
.menuText{
    
width: 69px;
height: 20px;
margin-top: 17px;
font-family: Ubuntu;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
letter-spacing: 2px;
text-transform: uppercase;

color: #FFFFFF;
}

.logo{
    width: 530px;
    height: 73px;
display: flex;
flex-wrap: nowrap;
margin: 14px 180px 0  0px ;
}
.logoText1{
width: 200px;
height: 54px;
margin: 30px 30px 0 0;
font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 11px;
line-height: 13px;
text-align: right;
letter-spacing: 2px;
text-transform: uppercase;

color: #FFFFFF;
}
.logoText2{
width: 230px;
height: 54px;
font-family: Ubuntu;
font-style: normal;
font-weight: bold;
font-size: 11px;
line-height: 13px;
letter-spacing: 2px;
text-transform: uppercase;
margin: 30px 0px 0 25px;

color: #E0E9F4;
}
.logoPage{
    width: 44px;
height: 64.22px;
display: flex;
flex-wrap: nowrap;
margin: 14px 0 18px;
}
.lang{
    width: 34px;
height: 11px;
font-family: Ubuntu;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 18px;
letter-spacing: 2px;
margin: 38px 62px 0 0;
color: #FFFFFF;
}
.wrapper {
    transform: translate(-50%, -50%);
    margin-top: 30px;
    margin-right: 10px;
  }
  
  .search-box {
    width: 200px;
    height: 100px;
    position: relative;
    margin-top: 20px;
  }
  
  .input {
    position: absolute;
    top: 20px;
    right: 45px;
    box-sizing: border-box;
    width: 0px;
    height: 30px;
    padding: 0 20px;
    outline: none;
    font-size: 18px;
    border-radius: 50px;
    color: #29313a;
    border: 3px solid rgb(65, 173, 237);
    transition: all 0.8s ease;
    color: rgb(65, 173, 237);

  }
  
  ::-webkit-input-placeholder {
    color: rgb(65, 173, 237);
  }
  ::-moz-placeholder {
    color: rgb(65, 173, 237);
  }
  :-ms-input-placeholder {
    color: rgb(65, 173, 237);
  }
  :-moz-placeholder {
    color: rgb(65, 173, 237);
  }
  
  .btn {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(65, 173, 237);
    background-position: center;
    background-image: url(images/bi_search.png);
    background-repeat: no-repeat;
    border-radius: 50%;
    right: 45px;
    top: 10px;
    cursor: pointer;
    text-align: center;
    line-height: 80px;
    font-size: 20px;
    color: #fff;
    transition: all 0.8s ease;
  }
  
  .input.active {
    width: 200px;
    right: 100px;
  }
  
  .btn.animate {
    transform: rotate(-360deg);
    right: 100px;
  } */
  
.menu_body{
    display: none;
    width: 100%;
min-height: 200px;
background: linear-gradient(180deg, rgba(17, 61, 86, 0.92) 0%, #2E9DDF 100%);
backdrop-filter: blur(40px);
padding: 48px 0 0px;

}
.toggle{
    display: none;
}
.toggle1{
    display: block;
}
.menu_content{
    width: 1200px;
    min-height: 200px;
    display: flex;
    margin: 0px auto 0;
    
}
.menu_1{
    margin-right: 100px;
}
.menu_1_header{
    width: 276px;
    height: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 24px;
    color: #FFFFFF;
}
.menu_1_line{
    width: 307px;
height: 0px;
border: 1.2px solid rgba(255, 255, 255, 0.33);
margin-bottom: 19px;
}
.item{
    width: 228px;
height: 28px;
font-family: Ubuntu;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
color: #FFFFFF;
display: block;
text-decoration: none;
}
.menu_1_header2{
margin-top: 49px;
}
.menu_1_header3{
    margin-top: 53px;
    margin-bottom: 50px;
}
.menu_1_header22{
    margin-top: 105px;
    width: 324px;
}
.menu_1_header33{
    margin-top: 130px;
    
}
.menu_2{
    margin-right: 143px;
}
.menu_3{
    margin-top: 44px;
}
.but1{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 17px;
    padding: 24px 2px 9px;
    text-align: center;
    letter-spacing: 1px;
    /* text-transform: uppercase; */
    color: #FFFFFF;
margin-bottom: 29px;
width: 340px;
height: 64px;
outline: none;
border: 1px solid #FFFFFF;
box-sizing: border-box;
border-radius: 8px;
background-image: none; 
  background: transparent;
  background-color: transparent;
    display: block;
    text-decoration: none;
}
.but2{
    outline: none;
    width: 340px;
height: 64px;
background: #FFF84C;
border-radius: 8px;
font-family: Ubuntu;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 17px;
text-align: center;
letter-spacing: 1px;
text-transform: uppercase;
padding: 24px 2px 9px;
color: #234C64;
margin-bottom: 29px;
display: block;
text-decoration: none;
}
.but3{
    display: block;
    outline: none;
    width: 340px;
height: 64px;
background: #FFFFFF;
border: 1px solid #FFFFFF;
box-sizing: border-box;
border-radius: 8px;
margin-bottom: 55px;
font-family: Ubuntu;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 17px;
padding: 24px 2px 9px;
text-align: center;
letter-spacing: 1px;
text-transform: uppercase;
text-decoration: none;
color: #244F67;
}
.numberr{
    width: 340px;
height: 18px;
font-family: Ubuntu;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 17px;
text-align: right;
letter-spacing: 1px;
text-transform: uppercase;
margin-bottom: 9px;
color: #FFFFFF;
}
.hotLine{
width: 340px;
height: 24px;
font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 17px;
margin-bottom: 27px;
text-align: right;
letter-spacing: 1px;
text-transform: lowercase;
color: #FFFFFF;
opacity: 0.7;
}
.office{
    width: 340px;
height: 24px;
    font-family: Ubuntu;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
margin-bottom: 14px;
text-align: right;
letter-spacing: 1px;
text-transform: lowercase;
display: block;
color: #FFFFFF;
text-decoration: none;
}
.icons{
    width: 340px;
    display: flex;
    justify-content: flex-end;
    width: 340px;
}
.face{
    background-position: center;
    background-size: contain;
    width: 24px;
    height: 24px;
    filter: brightness(0) invert(1);
    margin-right: 27px;
    display: block;
}
.you{
    display: block;
    background-position: center;
    background-size: contain;
    width: 24px;
    height: 24px;
    filter: brightness(0) invert(1);
    margin-right: 27px;
    background-repeat: no-repeat;
}
.tw{
    background-position: center;
    background-size: cover;
    width: 24px;
    height: 24px;
    /* filter: brightness(0) invert(1); */
    margin-right: 27px;
    display: block;
}
.tele{
    background-repeat: no-repeat;
    display: block;
    background-position: center;
    background-size: cover;
    width: 24px;
    height: 24px;
    filter: brightness(0) invert(1);
}




@media screen and (max-width: 1200px){
    .header-w{
        width: 920px;
    }
    .menu{
        margin: 25px 130px 31px 0;
        width: 129px;
    }
    .logo{
     width: 430px;
    margin: 10px 90px 0  0px ;
    }
    .logoText1{
    width: 150px;
    height: 54px;
    margin: 20px 30px 0 0;
    }
    .logoText2{
    width: 170px;
    height: 54px;
    margin: 20px 0px 0 25px;
    }
    .lang{
    width: 34px;
    height: 11px;
    margin: 38px 42px 0 0;
    }
    .menu_body{
        width: 100%;
    min-height: 200px;
    background: linear-gradient(180deg, rgba(17, 61, 86, 0.92) 0%, #2E9DDF 100%);
    backdrop-filter: blur(40px);
    padding: 48px 0 0px;
    
    }
    .menu_content{
        width: 920px;
        margin: 0px auto 0;
    }
    .menu_1{
        margin-right: 50px;
    }
    .menu_1_header{
        width: 250px;
        height: 20px;
        font-size: 22px;
        margin-bottom: 28px;
    }
    .menu_1_line{
        width: 220px;
    margin-bottom: 19px;
    }
    .item{
        width: 228px;
    height: 28px;
    font-size: 14px;
    }
    .menu_1_header2{
    margin-top: 40px;
    }
    .menu_1_header3{
        margin-top: 53px;
        margin-bottom: 50px;
    }
    .menu_1_header22{
        margin-top: 105px;
        width: 300px;
    }
    .menu_1_header33{
        margin-top: 130px;
        
    }
    .menu_2{
        margin-right: 0px;
    }
    .menu_3{
        margin-top: 44px;
    }
    .but1{
        font-size: 16px;
        padding: 14px 2px 9px;
    width: 300px;
    height: 64px;
    }
    .but2{
        width: 300px;
    height: 64px;
    font-size: 16px;
    margin-bottom: 29px;
    }
    .but3{
        width: 300px;
    height: 64px;
    font-size: 16px;
    padding: 14px 2px 9px;
    }
    .numberr{
        width: 300px;
    height: 18px;
    font-size: 32px;
    }
    .hotLine{
    width: 300px;
    height: 24px;
    font-size: 13px;
    }
    .office{
        width: 300px;
    height: 24px;
    font-size: 14px;
    margin-bottom: 14px;
    }
    .icons{
        width: 300px;
    }
  
}







@media screen and (max-width: 1000px){
   
    .header-w{
        width: 740px;
        margin: 0 auto;
    }
    .menu{
        margin: 25px 30px 31px 0;
        width: 129px;
    }
    .sandwich{
        width: 41px;
    height: 41px;
    margin-right: 19px;
    }

    .logo{
        width: 500px;
        height: 73px;
    margin: 14px 50px 0  0px ;
    }
    .logoText1{
    width: 200px;
    height: 54px;
    margin: 30px 10px 0 0;
    }
    .logoText2{
    width: 180px;
    height: 54px;
    }
    .logoPage{
        width: 44px;
    height: 64.22px;
    margin-right: 5px;
    }
    .lang{
        width: 34px;
    height: 11px;
    margin: 38px 20px 0 0;

    }
    .menu_body{
    
        width: 100%;
    min-height: 200px;
    background: linear-gradient(180deg, rgba(17, 61, 86, 0.92) 0%, #2E9DDF 100%);
    backdrop-filter: blur(40px);
    padding: 48px 0 0px;
    
    }
    .menu_content{
        display: none;
        width: 740px;
        margin: 0px auto 0;
    }
    .menu_1{
        margin-right: 40px;
    }
    .menu_1_header{
        width: 200px;
        height: 20px;
        font-size: 20px;
        margin-bottom: 26px;
    }
    .menu_1_line{
        width: 200px;
    margin-bottom: 19px;
    }
    .item{
        width: 228px;
    height: 28px;
    font-size: 14px;
    }
    .menu_1_header2{
    margin-top: 40px;
    }
    .menu_1_header3{
        margin-top: 53px;
        margin-bottom: 50px;
    }
    .menu_1_header22{
        margin-top: 125px;
        width: 250px;
    }
    .menu_1_header33{
        margin-top: 130px;
        
    }
    .menu_2{
        margin-right: 0px;
    }
    .menu_3{
        margin-top: 44px;
    }
    .but1{
        font-size: 14px;
        padding: 14px 2px 9px;
    width: 250px;
    height: 64px;
    }
    .but2{
        width: 250px;
    height: 64px;
    font-size: 14px;
    margin-bottom: 29px;
    }
    .but3{
        width: 250px;
    height: 64px;
    font-size: 14px;
    padding: 14px 2px 9px;
    }
    .numberr{
        width: 250px;
    height: 18px;
    font-size: 26px;
    }
    .hotLine{
        width: 250px;
    height: 24px;
    font-size: 13px;
    }
    .office{
        width: 250px;
    height: 24px;
    font-size: 14px;
    margin-bottom: 14px;
    }
    .icons{
        width: 250px;
    }
}








@media screen and (max-width: 600px){
   
    .header-w{
        width: 340px;
        height: 80px;
    }
    .menu{
        display: flex;
        margin: 25px 60px 31px 0;
        width: 50px;
    height: 41px;
    position: relative;

    }
    
    .menuText{      
    visibility: hidden;;
    }
    .logo{
        width: 530px;
        height: 73px;
    display: flex;
    flex-wrap: nowrap;
    margin: 14px 50px 0  0px ;
    }
    .logoText1{
    display: none;
    }
    .logoText2{
    display: none;
    }
    .logoPage{
        width: 44px;
    height: 64.22px;
    display: flex;
    flex-wrap: nowrap;
    background-image: url(images/logo.png);
    }
    .lang{
        width: 34px;
    height: 11px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 2px;
    margin: 38px 20px 0 0;
    color: #FFFFFF;
    }
    .wrapper{
        margin-top: 23px;
    }
    .menu_body{
    padding: 48px 0 0px;
    
    }
    .menu_content{
        width: 340px;
        margin: 0px auto 0;
        flex-wrap: wrap;
    }
    .menu_1{
        padding: 0 70px;
    }
    .menu_1_header{
        width: 200px;
        height: 20px;
        font-size: 20px;
        margin-bottom: 26px;
        text-align: center;
    }
    .menu_1_line{
        width: 200px;
    margin-bottom: 19px;
    }
    .item{
        width: 228px;
    height: 28px;
    font-size: 14px;
    }
    .menu_1_header2{
    margin-top: 40px;
    }
    .menu_1_header3{
        margin-top: 53px;
        margin-bottom: 50px;
    }
    .menu_1_header22{
        margin-top: 35px;
        width: 250px;
    }
    .menu_1_header33{
        margin-top: 30px;
        
    }
    .menu_2{
        margin-right: 0px;
        padding: 0 70px;
    }
    .menu_3{
        margin-top: 44px;
        padding: 0 70px;
        text-align: center;
    }
    .but1{
        font-size: 14px;
        padding: 14px 2px 9px;
    width: 250px;
    height: 64px;
    }
    .but2{
        width: 250px;
    height: 64px;
    font-size: 14px;
    margin-bottom: 29px;
    }
    .but3{
        width: 250px;
    height: 64px;
    font-size: 14px;
    padding: 14px 2px 9px;
    }
    .numberr{
        width: 250px;
    height: 18px;
    font-size: 26px;
        text-align: center;
    }
    .hotLine{
        width: 250px;
    height: 24px;
    font-size: 13px;
    padding: 0 70px;
        text-align: center;
    }
    .office{
        width: 250px;
    height: 24px;
    font-size: 14px;
    margin-bottom: 14px;
    padding: 0 70px;
        text-align: center;
    }
    .icons{
        width: 250px;
        justify-content: center;
    }
}